TodosTrimestres/XSD/Deberes_Puente_XSD/Empleado/XSDdeEmpleado.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="empleado">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="telefono" minOccurs="1" maxOccurs="3">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="prefijo" type="xs:int"></xs:element>
                            <xs:element name="numero" type="xs:int"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="mes">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="12"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="turno">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Mañana"/>
                            <xs:enumeration value="Tarde"/>                        
                        </xs:restriction>                    
                    </xs:simpleType>
                </xs:element>

                <xs:element name="id">
                    <xs:complexType>
                        <xs:attribute name="numero_id">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                </xs:restriction>                            
                            </xs:simpleType> 
                        </xs:attribute>                  
                    </xs:complexType>
                </xs:element>


                <xs:element name="familia" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="familiar" type="xs:string" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="edad">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="99"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>